body{
    margin: 0;
    padding: 0;
    display: flex;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*Header stuff*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f9ff;
    padding: 30px 80px 30px 30px;
}
.header > div{
    display: flex;
    
}
.elements-on-top{
    justify-content: space-between;
    gap: 400px;
    align-items: center;
}
.notifications{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex: 0 2 auto
}
.searchbar{
    display: inherit;
    flex: 1;
    height: 40px;
    margin: 15px;
    border-radius: 40px;
}
.search{
    margin-left: 10px;
    display: flex;
    flex: 1 2 auto;
    
}
.elements-on-bottom{
    justify-content: space-between;
    align-items: center;
}
#greeting{
    font-weight: bold;
}
#greeting span{
    font-size: 20px;
}
.elements-on-bottom> div{
    display: inherit;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
    /*BUttons*/
.buttons{
    min-height: 40px;
    min-width: 80px;
    background-color: #8b5cf6;
    border: 0;
    border-radius: 40px;
    color: white;
}
.buttons:hover{
    cursor: pointer;
}

/*Sidebar stuff*/
.sidebar{
    background-color: #3b82f6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    color: white;
    gap: 5px;
}

.sidebar a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.sidebar span{
    display: flex;
    align-items: center;

}
.sidebar span img{
    width: 40px;
}
.icon{
    display: flex;
    align-items: center;
}

/* Main content area*/
.media {
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.your-projects {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    
}
.your-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 50px;
}
.project{
    width: 300px;
    background-color: white;
    border-left: 8px solid orange;
    border-radius: 10px;
    padding: 15px
}
.secondary-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.announcements{
    display: flex;
    flex-direction: column;
    border: 1px solid white
}
.announcements-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.event{
    background-color: greenyellow;
}

.trending{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}
.trending-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.area{
    background-color: blueviolet;
}



/*Icons*/
.search-icon {
    width: 40px;
}
.bell{
    width: 40px;
}
.profile-small{
    width: 50px;
    padding: 0;
}
.profile-big{
    width: 80px;
}
#main-icon{
    width:60px;
}